#projects {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.card {
	display: flex;
	border-radius: 5px;
	border-style: solid;
	border-width: 0px;
	box-shadow: 0 0 10px #e0e0e0 inset;
	text-align: center;
	flex-grow: 1;
	margin: 10px;
	padding: 10px;
}
#projects > #proj_anim > #proj_loc_1 {
	position: absolute;
	top: 500px;
	left: -20px;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-width: 0px 0px 0px 5px;
	border-color: #40c9f370;
	border-radius: 200px;
	animation: proj-loc-rot-rev 5s linear infinite;
}
#projects > #proj_anim > #proj_loc_2 {
	position: absolute;
	top: 500px;
	left: 80px;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #3ddda870;
	border-width: 0px 5px 0px 0px;
	border-radius: 200px;
	animation: proj-loc-rot 2s linear infinite;
}
#projects > #proj_anim > #proj_dot {
	position: absolute;
	top: 500px;
	left: 30px;
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #3898e670;
	border-width: 3px 3px 3px 3px;
	border-radius: 200px;
	animation: proj-dot 2s linear infinite;
}
@keyframes proj-loc-rot {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes proj-loc-rot-rev {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
@keyframes proj-dot {
	0% {
		left:130px;
		top: 600px;
		width: 0px;
		height: 0px;
		border-radius: 0px;
		border-color: #3898e6ff;
	}
	50% {
		top: 575px;
		left: 105px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		border-color: #3898e688;
	}
	100% {
		left: 80px;
		top: 550px;
		width: 100px;
		height: 100px;
		border-radius: 100px;
		border-color: #ffffff00;
	}
}
hr.proj {
	width: 50px;
	height: 50px;
	border: 0px;
	border-style: solid;
	background-color: #19c54d50;
	animation: proj-hr-trans 4s ease infinite;
}
@keyframes proj-hr-trans {
	0% {
		transform: translateX(-400px);
	}
	50% {
		transform: translateX(400px);
	}
	100% {
		transform: translateX(-400px);
	}
}
